<div class="row">
  <div class="col card-view-hover">
    <app-card-view title="Users"
                   icon="fa fa-users fa-5x text-blue"
                   description="You can find all info about users such as consents, apps, accounts"
                   link="/consent/user"></app-card-view>
  </div>
  <div class="col card-view-hover">
    <app-card-view title="Application"
                   icon="fa fa-tablet fa-5x text-green"
                   description="You can find all info about application"
                   link="/consent/app"></app-card-view>
  </div>
  <div class="col card-view-hover">
    <app-card-view title="Permission"
                   icon="fa fa-shield fa-5x text-red"
                   description="You can view and add permissions"
                   link="/consent/permission"></app-card-view>
  </div>
</div>
