<!--<div class="row pt-3">-->
  <!--<div class="col-auto">-->
    <!--<i class="{{icon}}"></i>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<p class="text-gray-600">{{title}}</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row mt-1 pt-1">-->
      <!--<div class="col">-->
        <!--<p class="font-weight-bold font-2x">{{count}}</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="card no-shadow rm-border bg-transparent widget-chart text-left">
  <div class="icon-wrapper">
    <div class="icon-wrapper-bg opacity-10 {{bgColor}}"></div>
    <i class="{{icon}} text-blue opacity-8"></i>
  </div>
  <div class="widget-chart-content">
    <div class="widget-subheading">{{title}}</div>
    <div class="widget-numbers">{{count}}</div>
  </div>
</div>
