<div class="row">
  <div class="col">
    <div class="box-part text-center bg-light rounded cursor-pointer p-5" [routerLink]="[link]">
      <i class="{{icon}}" aria-hidden="true"></i>

      <div class="title font-weight-bold">
        {{title}}
      </div>

      <div class="text-center py-3">
        <span>{{description}}</span>
      </div>

      <!--<a class="py-5 font-weight-bold" [routerLink]="[link]">View</a>-->

      <button class="btn btn-primary btn-labeled mr-2 mb-3"><b><i aria-hidden="true" class="fa fa-eye"></i></b> View </button>

    </div>
  </div>
</div>
