.box-part:hover{
  background-color: #007ad9 !important;
}
.box-part div.card-title{
  margin-top: 1em;
}

.box-part:hover i{
  color: #ffffff !important;
}

.box-part:hover div{
  color: #ffffff !important;
}

.box-part:hover span{
  color: #ffffff !important;
}


